
/*global styles */

html {
  font-family: Roboto;
}

h1 {
  display: block;
  font-size: 3rem;
  font-weight: 900;
  color: hsl(0, 0%, 35%)
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: 600;
  font-size: 2rem;

}

a {
  text-decoration: none;
}

.site-container {
  position: relative;
  top: 4rem;
}

/*nav section */

.container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 5;
}

nav img {
  margin-left: 1.5rem;
}

nav span {
  font-size: 2rem;
}

nav li {
  display: inline;
  padding: 1rem;
}

nav ul {
  margin-right: 1.5rem;
  padding: 1.5rem 0;
}

#academy {
  margin-right: auto;
  font-weight: 400;
  color: hsl(0, 0%, 65%);
}

#colmar {
  font-weight: 900;
}



/* banner section */

.banner {
  background-color: hsl(0, 0%, 80%)
}

.banner img {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
  display: inline-block;
}

.banner .banner-text {
  display: inline-block;
  position: relative;
  bottom: 22rem;
}

.banner .banner-text h1 {
  margin: 2rem 0;
  line-height: 4rem;
}

.banner .banner-text h3 {
  margin: 2rem 0;
  line-height: 3rem;
  color: hsl(0, 0%, 35%);
}


.banner-text .button {
  display: flex;
  justify-content: center;
  width: 90%;
  position: relative;
  background-color: hsl(0, 0%, 35%);
  color: white;
}

.banner-text .button span {
  padding: 0.5em 0;
  font-size: 2rem;
}


/* Section 1 */

.section-1-container {
  display: inline-flex;
  width: 100%;
}

.section-1-container .column-1 {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.section-1-container .column-1 {
  padding: 0 1.5rem;
}

.column-1 img {
  padding: 2rem 0;
}

.column-1 h1 {
  padding-bottom: 1.5rem;
}

.column-1 p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: 5%;
  color: hsl(0, 0%, 35%);
}

.column-1 span {
  padding: 1.5rem 0;
  font-size: 1.2rem;
  color: hsl(0, 0%, 35%);
}

.section-1-container .column-2 {
  display: flex;
  width: 40%;
  flex-direction: column;

}

.section-1-container .column-2 {
  padding-top: 2rem;
}

.section-1 .column-2 .article-1 {
  display: flex;
  flex-direction: row;
  border: 1px solid hsl(0, 0%, 80%);
  margin: 1px 0;
}

.section-1 .column-2 .article-1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.section-1 .column-2 .article-2 {
  display: flex;
  flex-direction: row;
  border: 1px solid hsl(0, 0%, 80%);
  margin: 1px 0;
}

.section-1 .column-2 .article-2-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.section-1 .column-2 .article-3 {
  display: flex;
  flex-direction: row;
  border: 1px solid hsl(0, 0%, 80%);
  margin: 1px 0;
  background-color: hsl(0, 0%, 80%)
}

.section-1 .column-2 .article-3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.section-1 .column-2 img {
  width: 35%;
  height: auto;
  float: left;
  padding: 1rem;
}

.section-1 .column-2 h3 {
  padding: 8px 0;
  color: hsl(0, 0%, 35%);
}

.section-1 .column-2 p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.section-1 .column-2 span {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: 5%;
  color: hsl(0, 0%, 35%);
}

/* section 2 */

.section-2 {
  background-color: hsl(0, 0%, 95%)
}

.section-2 h1 {
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.section-2-container {
  margin: 2rem auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.course {
  display: flex;
  flex-direction: column;
  width: 29%;
  margin: 0 1%;
}

.course h3 {
  color: hsl(0, 0%, 35%);
  margin: 1rem;
}

.course img {
  height: auto;
}

#courses {
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: hsl(0, 0%, 35%);
}

#modules {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: hsl(0, 0%, 35%);
}

/* section 3 */

.section-3 h1 {
  text-align: center;
  margin: 2rem 0;
  padding-top: 2rem;
}

.section-3-container {
  display: flex;
}

.section-3-container .column-1 {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.section-3 .column-1 h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: hsl(0, 0%, 35%);
}

.section-3 .column-1 p {
  margin-bottom: 2rem;
}

.section-3-container .column-2 {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.section-3 .column-2 .article-1 {
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 85%);
}

.section-3 .column-2 .article-1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.section-3 .column-2 .article-2 {
  display: flex;
  flex-direction: row;
}

.section-3 .column-2 .article-2-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.section-3 .column-2 h3 {
  color: hsl(0, 0%, 35%);
  margin: 1rem;
}

.section-3 .column-2 span {
  margin-left: 1rem;
}

.section-3 img {
  padding: 1rem;
}

/*footer*/

footer {
  display: flex;
  height: 7rem;
  border-top: 1px solid hsl(0, 0%, 85%);
}

footer span {
  margin-top: 1rem;
  padding: 0.5rem;
}

#copyright {
  margin-right: auto;
  margin-left: 1.5rem;
}
